.container {
    margin: auto;
    padding: 1.5rem;
    width: 50%;
}

.card {

    padding: 1rem;
    width: 100%;
    margin-bottom: 0.5rem;
    background-color: white;
    color: black;
    box-shadow: 0 1px 3px rgba(83, 91, 96, 0.23);
}

.itemView {
    padding: 0.5rem 1rem;

}